*{
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body{
    height: 150vh;
    background: linear-gradient(to left bottom,blue,rgb(121, 0, 121));
}
.main{
    position: absolute;
    border: 5px solid green;
    width: 50%;
    text-align: center;
    transform: translate(50%);
    border-radius: 5px;
    background: linear-gradient(to left bottom, blue,violet);
    box-shadow: 30px 10px 30px 10px rgba(0,0,0,0.75);
}
.header{
    position: relative;
    border: 2px solid blue;
    font-size: 80px;
    left: 50%;
    transform: translate(-50%,0%);
    width: 100%;
    height: 25%;
    line-height: 130px;
    background: linear-gradient(to left, rgb(5, 138, 182),rgb(0, 204, 255));
    border-radius: 5px;
    color: rgb(255, 238, 0);
}
.todo{
    position: relative;
    height: 65px;
    width: 60%;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    border: 3px solid yellow;
    color: yellow;
    font-size: 50px;
    transition: .3s linear;
    text-align: center;
    margin-top: 20px;
}
.todo:hover{
    background-color: rgb(4, 221, 120);
    border: 3px solid rgb(0, 0, 0);
}
.sMain{
    position: relative;
    font-size: 40px;
    background-color: black;
    color: red;
    border: 3px solid rgb(251, 255, 0);
    border-radius: 5px;
    padding: 10px;
    padding-top: 20px;
    cursor: pointer;
    transition: .3s linear;
    margin-left: 20px;
}
.sMain:hover{
    color: black;
    background-color: yellow;
    border: 3px solid black;
}
.text1{
    color: rgb(221, 220, 220);
    font-size: 35px;
}
li{
    background: linear-gradient(to bottom right,rgb(0, 60, 255),rgb(238, 255, 0),green);
    width: 100%;
   font-size: 30px;
   line-height: 50px;
   border-radius: 2.5px;
   /* cursor: pointer; */
   text-align: left;
   list-style-type: none;
   border: 1px solid black;
}
.fa-thumbtack{
padding: 10px;
border-radius: 2.5px;
background-color: lightblue;
transition: .3s linear;
height: 62%;
margin-left: 0%;
cursor: pointer;
}
.fa-thumbtack:hover{
    background-color: rgb(21, 255, 0);
}
.fa-check{
   position: absolute;
   left: 75%;
   padding-top: 10px;
   transition: .1s linear;
   color: green;
   cursor: pointer;
}
.fa-check:hover{
    color: red;
}
.edit{
    padding-left: 20px;
    transition: .1s linear;
    position: absolute;
    left: 80%;
    color: blue;
    cursor: pointer;
}
.edit:hover{
    color: red;
}
.fa-times{
    position: absolute;
    left: 92%;
    padding-top: 11px;
    color: rgb(234, 0, 255);
    transition: .1s linear;
    cursor: pointer;
}
.fa-times:hover{
    color: red;
}
.tools{
    margin-left: 10px;
}
ul{
    overflow: hidden;
}
.sprinter{
    background-color: rgb(60, 255, 0);
}
.sprinter2{
color: red;
}
.sprinter3{
    color: red;
    }
    .sprinter4{
        color: red;
        }
        
.vice{
    text-decoration: line-through;
    color: gray;
}
   .popup{
       position: absolute;
       border: 5px solid green;
       width: 955px;
       height: 300px;
       top: 180%;
       left: -160%;
       border-radius: 10px;
       background: linear-gradient(to left , blue,green);
       box-shadow: 13px 15px 30px 17px rgba(0,0,0,0.75);
       display: block;
       transition: .2s linear;
   }
   .popupex{
       background-color: red;
       border-bottom: 3px solid black;
       border-radius: 5px;
       height: 80px;
       line-height: 80px;
       font-size: 40px;
       transition: .3s linear;
   }
   .popupex:hover{
       color: rgb(251, 255, 0);
       background-color: rgb(153, 1, 1);
   }
   .popin{
       border: 3px solid blue;
       background-color: rgb(151, 245, 248);
       width: 480px;
       height: 60px;
       border-radius: 10px;
       font-size: 50px;
       margin-top: 80px;
   }
   .save{
       font-size: 50px;
       margin-left: 40px;
       cursor: pointer;
       border-radius: 10px;
       border: 3px solid red;
       background-color: yellow;
       transition: .3s linear;
   }
   .save:hover{
       background-color: rgb(250, 192, 67);
       border: 3px solid rgb(253, 86, 86);
       padding: 5px;
   }
   .fa-times-circle{
       position: absolute;
       right: -3.5%;
       top: -12%;
       font-size: 70px;
       cursor: pointer;
   }
.opener{
    display: block;
}
.closer{
    display: none;
}
.new{
    transition: .1s linear;
    position: absolute;
    left: 80%;
    color: blue;
    cursor: pointer;
    font-size: 32px;
    margin-left: 19px;
    margin-top: 1px;
    border: none;
    background: rgba(0,0,0,0.0);
    transition: .1s linear;
}
.new:hover{
    color: red;
}
.show{
    left: 0%;
}
.spot{
    color: rgb(17, 0, 255);
}