*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    background: linear-gradient(to left bottom,blue,rgb(121, 0, 121));
}
.main{
    position: absolute;
    border: 5px solid green;
    width: 50%;
    text-align: center;
    transform: translate(50%, 10%);
    border-radius: 5px;
    background-color: rgb(238, 234, 234);
}
.header{
    position: relative;
    border: 2px solid blue;
    font-size: 80px;
    left: 50%;
    transform: translate(-50%,0%);
    width: 100%;
    height: 25%;
    line-height: 130px;
    background: linear-gradient(to left, rgb(1, 55, 73),rgb(0, 204, 255));
    border-radius: 5px;
}
.todo{
    position: relative;
    height: 65px;
    width: 60%;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    border: 3px solid yellow;
    color: yellow;
    font-size: 50px;
    transition: .3s linear;
    text-align: center;
    margin-top: 20px;
}
.todo:hover{
    background-color: rgb(4, 221, 120);
    border: 3px solid orange;
}
.smain{
    position: relative;
    font-size: 40px;
    background-color: black;
    color: red;
    border: 3px solid rgb(251, 255, 0);
    border-radius: 5px;
    padding: 10px;
    padding-top: 20px;
    cursor: pointer;
    transition: .3s linear;
    margin-left: 20px;
}
.smain:hover{
    color: black;
    background-color: yellow;
    border: 3px solid black;
}
.text1{
    color: rgb(129, 126, 126);
    font-size: 35px;
}
.task1{
    background-color: gray;
    width: 100%;
   font-size: 30px;
   line-height: 50px;
   border-radius: 2.5px;
   cursor: pointer;
}
.fa-thumbtack{
position: absolute;
left: 0%;
padding: 7px;
padding-top: 11px ;
border-radius: 2.5px;
background-color: lightblue;
transition: .3s linear;
}
.fa-thumbtack:hover{
    background-color: rgb(70, 206, 7);
}
.fa-check{
   position: absolute;
   left: 75%;
   padding-top: 10px;
   transition: .1s linear;
   color: green;
}
.fa-check:hover{
    color: red;
}
.edit{
    padding-left: 20px;
    transition: .1s linear;
    position: absolute;
    left: 80%;
    color: blue;
}
.edit:hover{
    color: red;
}
.fa-times{
    position: absolute;
    left: 94%;
    padding-top: 10px;
    color: yellow;
    transition: .1s linear;
}
.fa-times:hover{
    color: red;
}